@use 'modern-normalize';

:root {
  --color-text-primary: #403F3D;
  --color-text-inverse: #E1D4C9;
  --color-text-accent: #B0907A;
  --color-bg-page: #E1D4C9;
  --color-bg-container: #665F55;
  --color-bg-overlay: #403F3Dcc;
  --color-border-primary: #C1B6AD;
  --color-border-inverse: #665F55;
}

[data-theme='dark'] {
  --color-text-primary: #E1D4C9;
  --color-bg-page: #292826;
  --color-bg-container: #403F3D;
  --color-bg-overlay: #292826;
  --color-border-primary: #665F55;
  --color-border-inverse: #C1B6AD;
}


*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  background-color: var(--color-bg-page);
  color: var(--color-text-primary);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 40px;

  @media (max-width: 380px) {
    padding-inline: 16px;
  }
}

.header {
  padding-top: 20px;
}

.header__container {
  display: flex;
  height: 60px;
}

.heading-1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}

.heading-2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

.heading-3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.heading--accent{
  font-style: italic;
}

.caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.action {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.burger-link {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}
