@use "modern-normalize";

:root {
  --color-text-primary: #403f3d;
  --color-text-inverse: #e1d4c9;
  --color-text-accent: #b0907a;
  --color-bg-page: #e1d4c9;
  --color-bg-container: #665f55;
  --color-bg-overlay: #403f3dcc;
  --color-border-primary: #c1b6ad;
  --color-border-inverse: #665f55;
}

[data-theme="dark"] {
  --color-text-primary: #e1d4c9;
  --color-bg-page: #292826;
  --color-bg-container: #403f3d;
  --color-bg-overlay: #292826;
  --color-border-primary: #665f55;
  --color-border-inverse: #c1b6ad;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  background-color: var(--color-bg-page);
  color: var(--color-text-primary);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
  background-color: inherit;
}

a {
  text-decoration: none;
  user-select: none;
  color: inherit;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

section {
  margin-bottom: 100px;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 40px;

  @media (max-width: 380px) {
    padding-inline: 16px;
  }
}

.header {
  padding-block: 20px;
}

.header__container {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  gap: 44px;
}

.heading-1 {
  display: block;
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  margin: 0;

  @media (max-width: 380px) {
    font-size: 42px;
    line-height: 115%;
  }
}

.heading-2 {
  display: block;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;

  @media (max-width: 380px) {
    font-size: 32px;
    line-height: 125%;
  }
}

.heading-3 {
  display: block;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.heading--accent {
  font-style: italic;
  color: var(--color-text-accent);
}

.heading--inverse {
  color: var(--color-text-inverse);
}

.text-center {
  text-align: center;
}

.caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.action {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  cursor: pointer;
}

.burger-link {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}

.header__logo {
  display: block;
  width: 100px;
  height: 60px;
}

.header__nav-list {
  display: flex;
  gap: 40px;
}

.header__nav-link {
  color: var(--color-text-primary);
}

.header__actions {
  display: flex;
  align-items: center;
  width: 184px;
  height: 44px;
  gap: 24px;
}

.theme-toggler {
  width: 88px;
  height: 44px;
  border-radius: 100px;
  border: 1px solid var(--color-border-primary);
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.theme-item {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-img {
  max-width: 22px;
}

.sun {
  background-color: var(--color-text-accent);
}

.menu-link {
  display: flex;
  width: 72px;
  height: 28px;
  gap: 8px;
}

.menu-img {
  width: 20px;
  height: 20px;
}

#hero {
  height: 644px;
  background-image: url(./assets/img-hero.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 40px;
  padding: 100px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 530px;
  height: 444px;
}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  background-color: var(--color-bg-page);
}

#favorite-coffee {
  height: 799px;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
  height: 684px;

  @media (max-width: 380px) {
    height: 576px;
  }
}

.left-arrow,
.right-arrow {
  width: 61px;
  height: 61px;
}

.main-slider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-image {
  width: 480px;
  height: 480px;
  margin-bottom: 20px;

  @media (max-width: 500px) {
    width: 348px;
    height: 348px;
  }
}

.slider-image-description {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  max-height: 140px;
  height: 100%;
  text-align: center;
  gap: 16px;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  width: 144px;
  height: 4px;
  margin-top: 40px;
}

.slider-controls__item {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: var(--color-border-primary);
}

.slider-controls__active {
  background-color: var(--color-border-inverse);
}

#about {
  height: 1325px;

  @media (max-width: 1446px) {
    height: 100%;
  }
}

.gallery {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  width: 100%;

  @media (max-width: 920px) {
    flex-wrap: wrap;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

    &--large {
      max-width: 660px;
      max-height: 590px;

      @media (max-width: 920px) {
        max-width: 100%;
        min-height: 100%;
      }
    }

    &--small {
      max-width: 660px;
      max-height: 430px;

      @media (max-width: 920px) {
        display: none;
      }
    }
  }
}

#mobile-app {
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: center;

  @media (max-width: 1200px) {
    flex-wrap: wrap;

  }
}

.app-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 0 0 630px;
  height: 342px;
}

.app-img {
  flex: 1 1 630px;
  min-width: 400px;
  max-width: 630px;
  height: auto;
}

.app-links {
  display: flex;
  gap: 20px;
}

.app-link {
  display: flex;
  gap: 8px;
  padding: 12px 20px;
  width: 200px;
  height: 64px;
  border-radius: 100px;
  border: 1px solid var(--color-border-inverse);
}

.app-link-icon {
  width: 36px;
  height: 36px;
}

.app-link-text {
  height: 40px;
  width: 100%;
}

.available-on,
.store-name {
  display: block;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 450px;
  margin-bottom: 40px;
  background-color: var(--color-bg-container);
  border-radius: 40px;
}

.left-footer {
  display: flex;
  flex-direction: column;
  width: 530px;
  height: 250px;
  gap: 24px;
}

.right-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 530px;
  height: 186px;
  color: var(--color-text-inverse);
}

.social {
  width: 204px;
  height: 60px;
  display: flex;
  gap: 12px;
}

.social-icon {
  color: var(--color-border-primary);
}

.contact-info {
  width: 195px;
  height: 116px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info__item {
  height: 28px;
  display: flex;
  align-items: center;
  gap: 8px;
}
